<!DOCTYPE html>
<html>
<head>
  <title>RelativeUrl</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Clients', main_app.clients_path %>
<%= link_to 'Blog', blog.root_path %>

<%= yield %>

</body>
</html>
